<!DOCTYPE html>

<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />
	<title>@ViewBag.Title</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/Layout.css">

	<!-- Font Awsome -->
	<script src="https://kit.fontawesome.com/0bcbba3f41.js" crossorigin="anonymous"></script>

</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<div class="container-fluid">
			<button type="button" id="sidebarCollapse" class="btn btn-light">
				
			</button>
			<a class="h4 ml-0 mb-0 ">Examiner Portal</a>

			<partial name="_LoginPartial" />
		</div>
	</nav>
	<div class="container">
		<br />
		@RenderBody()
	</div>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	@RenderSection("Scripts", required: false)
</body>
</html>
