<!DOCTYPE html>

<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />
	<title>@ViewBag.Title</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/Layout.css">

	<!-- Font Awsome -->
	<script src="https://kit.fontawesome.com/0bcbba3f41.js" crossorigin="anonymous"></script>

	<style>
		body {
			background-image: url('/resource/ielts-registration-39516.jpg');
			background-size: cover;
		}

	</style>

</head>
<body>
	<div class="container">
		<br />
		@RenderBody()
	</div>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	@RenderSection("Scripts", required: false)
</body>
</html>
