<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - IELST Listening</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/Layout.css">

	<!-- Font Awsome -->
	<script src="https://kit.fontawesome.com/0bcbba3f41.js" crossorigin="anonymous"></script>

	<!-- Scrollbar Custom CSS -->
	<link rel="stylesheet"
		  href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
</head>
<body>
	<div class="wrapper">
		<!-- Sidebar -->
		<nav id="sidebar">
			<div class="sidebar-header">
				<a asp-controller="Recordings" asp-action="Index" asp-route-part=1>
					<img id="logoimg" src="~/resource/MainLogoAsset1.png" alt="">
				</a>
			</div>

			<ul class="list-unstyled components">
				<p>Dashboard</p>
				<li class="active">
					<a asp-controller="Recordings" asp-action="Index" asp-route-part=1>
						<i class="fa fa-file-text-o fa-fw" aria-hidden="true"></i> Question Bank
					</a>
				</li>
				<li>
					<a href="#adminSubmenu" data-toggle="collapse" aria-expanded="false"
					   class="show">
						<i class="fa fa-users fa-fw" aria-hidden="true" ></i> Test Administration
					</a>
					<ul class="collapse list-unstyled" id="adminSubmenu">
						<li>
							<a href="#">Generate Seat Number</a>
						</li>
						<li>
							<a href="#">View Attandance</a>
						</li>
					</ul>
				</li>
				<li>
					<a href="#gradeSubmenu" data-toggle="collapse" aria-expanded="false"
					   class="show">
						<i class="fa fa-check-square-o fa-fw" aria-hidden="true"></i> Grades 
					</a>
					<ul class="collapse list-unstyled" id="gradeSubmenu">
						<li>
							<a href="#">Review Test Answers</a>
						</li>
						<li>
							<a href="#">Generate Grade Report</a>
						</li>
					</ul>
				</li>
				<hr />
				<li class="active">
					<a href="#">
						<i class="fa fa-power-off fa-fw" aria-hidden="true" ></i> Logout
					</a>
				</li>

			</ul>

		</nav>
		<!-- Page Content -->
		<div id="content">

			<nav class="navbar navbar-expand-lg navbar-light bg-light">
				<div class="container-fluid">
					<button type="button" id="sidebarCollapse" class="btn btn-light">
						<i class="fas fa-bars"></i>
					</button>
					<a class="h4 ml-0 mb-0 ">Examiner Portal</a>
					<span class="navbar-text mb-0">
						<i class="fas fa-user-circle h4"></i>
						Username
					</span>
					<partial name="_LoginPartial" />
				</div>
			</nav>

			<div class="mainContent">
				@RenderBody()
				<a id="back-to-top" href="#" class="btn btn-outline-secondary btn-lg back-to-top" role="button">
					<i class="fas fa-chevron-up"></i>
				</a>
			</div>

		</div>
		<footer class="border-top footer text-muted">
			<div class="container">
				&copy; 2020 - BACS3403_Project - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
			</div>
		</footer>
	</div>




	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	<!-- jQuery Custom Scroller CDN -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>

	<script>
		$(document).ready(function () {
			$("#sidebar").mCustomScrollbar({
				theme: "minimal"
			});

			$('#sidebarCollapse').on('click', function () {
				$('#sidebar, #content').toggleClass('active');
				$('.collapse.in').toggleClass('in');
				$('a[aria-expanded=true]').attr('aria-expanded', 'false');
			});

			$(window).scroll(function () {
				if ($(this).scrollTop() > 50) {
					$('#back-to-top').fadeIn();
				} else {
					$('#back-to-top').fadeOut();
				}
			});
			// scroll body to 0px on click
			$('#back-to-top').click(function () {
				$('body,html').animate({
					scrollTop: 0
				}, 400);
				return false;
			});

		});

	</script>

	@RenderSection("Scripts", required: false)
</body>
</html>
