@{
	ViewData["Title"] = "Home Page";
}

<div class="text-center">
		<h1 class="display-4">Welcome</h1>
		<h4>| This Application is still in development stage |</h4>
		<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
