
.gradeSearch, .gradeContent {
	margin-top: -10px;
	padding: 20px;
	border: 1px solid #ccc;
	height: 75vh;
}

.gradeSearch {
	background-color: #f1f1f1;
}

.gradeContent {
	border-left: none;
}

.gradeSearch > hr, .gradeContent > hr {
	margin-top: 0.1rem !important;
	margin-bottom: 1rem !important;
}

#candidatesList{
	font-size: 15px;
}

.table-hover tbody tr:hover {
	cursor: pointer;
}