@{
	ViewData["Title"] = "Recordings";
}

<div class="tab card">
	<button id="defaultOpen" class="tablinks" onclick="questPart(event, 'Part1')">Part 1</button>
	<button class="tablinks" onclick="questPart(event, 'Part2')">Part 2</button>
	<button class="tablinks" onclick="questPart(event, 'Part3')">Part 3</button>
	<button class="tablinks" onclick="questPart(event, 'Part4')">Part 4</button>
</div>

<div id="Part1" class="tabcontent card">

	<div id="partHeader">
		<h3>Part 1 Recordings</h3>
		<button type="button" class="btn btn-primary">
			<i class="fa fa-plus-circle" aria-hidden="true"></i> New Recording
		</button>
	</div>
	<p>A conversation between two people set in everyday social context</p>
	<hr>

	<div class="card">
		<div class="card-body recording">
			<p class="recText">
				<i class="fa fa-check-circle" aria-hidden="true"></i>
				&nbsp;&nbsp; 1. A solar Heating System
			</p>
			<button type="button" class="btn btn-light btn-sm">
				<i class="fa fa-ellipsis-v" aria-hidden="true"></i>
			</button>
		</div>
	</div>
	<div class="card">
		<div class="card-body recording">
			<p class="recText">
				<i class="fa fa-check-circle" aria-hidden="true"></i>
				&nbsp;&nbsp; 2. Chambers Theme Park
			</p>
			<button type="button" class="btn btn-light btn-sm">
				<i class="fa fa-ellipsis-v" aria-hidden="true"></i>
			</button>
		</div>
	</div>

	<div class="card">
		<div class="card-body recording">
			<p class="recText">
				<i class="fa fa-check-circle" aria-hidden="true"></i>
				&nbsp;&nbsp; 3. Consequences of Super Volcanoes
			</p>
			<button type="button" class="btn btn-light btn-sm">
				<i class="fa fa-ellipsis-v" aria-hidden="true"></i>
			</button>
		</div>
	</div>
</div>

<div id="Part2" class="tabcontent card">
	<h3>Part 2</h3>
	<p>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo quas est, repellendus enim iusto
		accusamus. Laboriosam accusantium cumque accusamus modi illum itaque vitae ab dicta quidem
		architecto perferendis, voluptates tempore?
	</p>
</div>

<div id="Part3" class="tabcontent card">
	<h3>Part 3</h3>
	<p>
		Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloribus architecto amet ducimus. Unde
		eligendi harum fugiat soluta? Deserunt nam eligendi ipsum, quas nesciunt, quae aliquid, corrupti
		atque numquam saepe magnam.
	</p>
</div>

<div id="Part4" class="tabcontent card">
	<h3>Part 4</h3>
	<p>
		Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloribus architecto amet ducimus. Unde
		eligendi harum fugiat soluta? Deserunt nam eligendi ipsum, quas nesciunt, quae aliquid, corrupti
		atque numquam saepe magnam.
	</p>
</div>
